* {
  box-sizing: border-box;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.btn {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #302f2f;
  color: rgb(240, 182, 24);
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
}
